[project]
	description = testowy projekt dla gerrita
[access "refs/*"]
	owner = group user/testujeGerrit (testujeGerrit)
[access "refs/for/refs/*"]
	read = group user/testujeGerrit (testujeGerrit)
	push = group user/testujeGerrit (testujeGerrit)
	label-Code-Review = -2..+2 group user/testujeGerrit (testujeGerrit)
	label-Verified = -1..+1 group user/testujeGerrit (testujeGerrit)
	rebase = group user/testujeGerrit (testujeGerrit)
	removeReviewer = group user/testujeGerrit (testujeGerrit)
	submit = group user/testujeGerrit (testujeGerrit)
[access "refs/heads/*"]
	read = group user/testujeGerrit (testujeGerrit)
	create = group user/testujeGerrit (testujeGerrit)
	push = +force group user/testujeGerrit (testujeGerrit)
	pushMerge = group user/testujeGerrit (testujeGerrit)
[access "refs/tags/*"]
	push = +force group user/testujeGerrit (testujeGerrit)
	pushTag = group user/testujeGerrit (testujeGerrit)
	pushSignedTag = group user/testujeGerrit (testujeGerrit)
